{
 :env-config
          {:onyx/tenancy-id "1"
           :onyx.bookkeeper/server? false
           :onyx.bookkeeper/local-quorum? false
           :onyx.bookkeeper/delete-server-data? true
           :onyx.bookkeeper/local-quorum-ports [3181]
           :onyx.bookkeeper/port 3181
           :zookeeper/address "127.0.0.1:2181"
           :zookeeper/server? false
           :zookeeper.server/port 2181
           :onyx.log/config nil}
 :peer-config
          {:onyx/tenancy-id "1"
           :zookeeper/address "127.0.0.1:2181"
           :onyx.peer/job-scheduler :onyx.job-scheduler/balanced
           :onyx.peer/zookeeper-timeout 60000
           :onyx.peer/job-not-ready-back-off 5000
           :onyx.messaging/allow-short-circuit? false
           :onyx.messaging/impl :aeron
           :onyx.messaging/bind-addr #or [#env BIND_ADDR "localhost"]
           :onyx.messaging/peer-port 40200
           :onyx.messaging.aeron/embedded-driver? true
           :onyx.log/config nil}
 :app-config
          {
           :kafka-group-id "simply-credit-mailer"
           :kafka-topic-in "messages-in"
           :kafka-topic-invalid-out "messages-invalid"
           :mailgun {
                     :api-key "key-ed181683ae2352afec9e1316b7beb909"
                     :from-address "postmaster@sandbox119c26d9d2a847278947f4594d71516f.mailgun.org"
                     :endpoint "https://api.mailgun.net/v3/sandbox119c26d9d2a847278947f4594d71516f.mailgun.org/messages"
                     }
           }
 }